.Logo {
	width: 100%;
	min-height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22115%22%20height%3D%2230%22%20fill%3D%22none%22%3E%3Ccircle%20cx%3D%2215%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.2%22%2F%3E%3Ccircle%20cx%3D%2270%22%20cy%3D%2215%22%20r%3D%2215%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.2%22%2F%3E%3Cpath%20fill%3D%22%23000%22%20fill-opacity%3D%22.2%22%20d%3D%22M35%200h15v30H35zM100%200h15l-15%2030H85l15-30z%22%2F%3E%3C%2Fsvg%3E');
}