.header {
	width: 100%;
	padding-left: 15px;
	padding-top: 10px;
	padding-right: 64px;
	&__logo {
		display: inline-block;
		width: 115px;
		height: 30px;
		margin-right: 19px;
	}
	&__title {
		display: inline-block;
		vertical-align: top;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 1px;
	}
	&__user-block {
		display: inline-block;
		float: right;
		vertical-align: top;
		max-width: 50%;
	}
	&__user {
		display: inline-block;
		height: 28px;
		vertical-align: top;
		padding: 5px 15px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 5px;
		overflow: hidden;
		@media (max-width: 900px) {
			max-width: 60%;
		}
	}
	&__login-separator {
		display: inline-block;
		margin-left: 7px;
		margin-right: 7px;
		color: rgba(0, 0, 0, 0.2);
	}
	&__button {
		position: relative;
		display: inline-block;
		vertical-align: top;
		margin-left: 21px;
		z-index: 10;
	}
}